<div id="<%= dom_id profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= profile.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birth date:</strong>
    <%= profile.birth_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= profile.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Avatar:</strong>
    <%= link_to profile.avatar.filename, profile.avatar if profile.avatar.attached? %>
  </p>

</div>
