<div id="<%= dom_id country %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Common name:</strong>
    <%= country.common_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Official name:</strong>
    <%= country.official_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code alpha2:</strong>
    <%= country.code_alpha2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code alpha3:</strong>
    <%= country.code_alpha3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone code:</strong>
    <%= country.phone_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tld:</strong>
    <%= country.tld %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Flag svg:</strong>
    <%= country.flag_svg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Flag png:</strong>
    <%= country.flag_png %>
  </p>

</div>
