<% breadcrumb :profile, current_user %>

<div class="px-4 pt-6">
  <!-- Header section -->
  <div class="mb-4">
    <%= render 'shared/breadcrumb' %>
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        Perfil de usuario
      </h1>
      <%= button_tag type: 'submit', form: 'edit_user',
                     class: 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-center
                             text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                             dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' do %>
        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"/>
        </svg>
        <%= t('shared.forms.save_button') %>
      <% end %>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
               html: { method: :put, id: 'edit_user' }) do |f| %>
    <%= render "shared/error_messages", resource: resource %>

    <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4">
      <div class="xl:col-span-1">
        <!-- Left column -->
        <%= render partial: 'devise/registrations/sections/profile_image',
                   locals: { f: f } %>
        <%= render partial: 'devise/registrations/sections/password',
                   locals: { f: f } %>
      </div>

      <div class="lg:col-span-2">
        <!-- Right column -->
        <%= render partial: 'devise/registrations/sections/personal_information',
                   locals: { f: f } %>
      </div>
    </div>
  <% end %>
</div>
