<div id="<%= dom_id technician %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= technician.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Specialty:</strong>
    <%= technician.specialty %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">certification level:</strong>
    <%= technician.certification_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= technician.status %>
  </p>

</div>
