<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= plan.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plan.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= plan.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plan type:</strong>
    <%= plan.plan_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= plan.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Criticality:</strong>
    <%= plan.criticality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Frequency type:</strong>
    <%= plan.frequency_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Frequency value:</strong>
    <%= plan.frequency_value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated duration:</strong>
    <%= plan.estimated_duration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requires shutdown:</strong>
    <%= plan.requires_shutdown %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset:</strong>
    <%= plan.maintenance_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset component:</strong>
    <%= plan.maintenance_asset_component_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= plan.start_date %>
  </p>

</div>
