<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance plan template:</strong>
    <%= plan.maintenance_plan_template_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenace asset:</strong>
    <%= plan.maintenace_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Component:</strong>
    <%= plan.component_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= plan.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= plan.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last execution date:</strong>
    <%= plan.last_execution_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Next execution date:</strong>
    <%= plan.next_execution_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= plan.notes %>
  </p>

</div>
