<div id="<%= dom_id plan %>">
  <!-- Tabs -->
  <%= render 'maintenance/plans/sections/tabs' %>

  <!-- Tab Content -->
  <div id="tab-content" class="h-full">
    <!-- General Information -->
    <div class="hidden py-4 pt-6 bg-white rounded-lg dark:bg-gray-800" id="general" role="tabpanel"
         aria-labelledby="general-tab">
      <%= render partial: 'maintenance/plans/sections/show/general',
                 locals: { maintenance_plan: @maintenance_plan } %>
    </div>

    <!-- Resources -->
    <div class="hidden py-4 pt-6 bg-white rounded-lg dark:bg-gray-800" id="resources" role="tabpanel"
         aria-labelledby="resources-tab">
      <%= render partial: 'maintenance/plans/sections/show/resources',
                 locals: { maintenance_plan: @maintenance_plan } %>
    </div>

    <!-- Tasks -->
    <div class="hidden py-4 pt-6 bg-white rounded-lg dark:bg-gray-800" id="tasks" role="tabpanel"
         aria-labelledby="tasks-tab">
      <%= render partial: 'maintenance/plans/sections/show/tasks',
                 locals: { maintenance_plan: @maintenance_plan } %>
    </div>

    <!-- Schedule -->
    <div class="hidden py-4 pt-6 bg-white rounded-lg dark:bg-gray-800" id="schedule" role="tabpanel"
         aria-labelledby="schedule-tab">
      <%= render partial: 'maintenance/plans/sections/show/schedule',
                 locals: { maintenance_plan: @maintenance_plan } %>
    </div>
  </div>
</div>
