<% breadcrumb :maintenance_plans %>
<% resource_class = Maintenance::Plan %>
<% resource_key = "activerecord.models.#{resource_class.model_name.i18n_key}" %>
<% content_for :title, full_title(t("#{resource_key}.other")) %>
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800
            dark:border-gray-700">
  <div class="w-full">
    <%= render 'shared/breadcrumb' %>
    <div class="sm:flex justify-between">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        <%= t('.all_plans', count: @pagy.count) %>
      </h1>
      <%= render partial: 'shared/table/header', locals: { resource_class: resource_class } %>
    </div>
  </div>
</div>
<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <%= render partial: 'shared/table/body', locals: { resource_class: resource_class,
                                                           records: @maintenance_plans,
                                                           columns: %w[code name plan_type criticality status ] } %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
