<%= form_with(model: maintenance_asset, class: "contents space-y-6") do |form| %>
  <%= render partial: 'shared/error_messages', locals: { resource: maintenance_asset } %>
  <div class="grid grid-cols-1 px-4 pt-2 xl:grid-cols-2 xl:gap-4 dark:bg-gray-900">
    <div class="field">
      <%= form.label :code, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :code,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :name,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :maintenance_asset_type_id,
                     class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.collection_select :maintenance_asset_type_id, @maintenance_asset_types, :id, :name, {},
                                 class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :organization_production_line_id, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.collection_select :organization_production_line_id, @organization_production_lines, :id, :name, {},
                                 class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :maintenance_manufacturer_id, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.collection_select :maintenance_manufacturer_id, @maintenance_manufacturers, :id, :name, {},
                                 class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :model, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :model, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :serial_number, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :serial_number,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :manufacturing_date, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.date_field :manufacturing_date,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :purchase_date, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.date_field :purchase_date,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :warranty_expiration, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.date_field :warranty_expiration,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :status, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.select :status, enum_options_for_select(Maintenance::Asset, :status), { selected: 'active' },
                      class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :criticality_level, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.select :criticality_level, enum_options_for_select(Maintenance::Asset, :criticality_level), {},
                      class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :technical_specs, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :technical_specs,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :operation_conditions, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :operation_conditions,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :physical_location, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :physical_location,
                          class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= form.label :notes, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.rich_textarea :notes,
                             class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full' %>
    </div>

    <div class="inline">
      <%= form.submit class: 'w-full px-5 py-3 mt-2 text-base font-medium text-center text-white bg-blue-700
                              rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto
                              dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
    </div>
<% end %>
</div>