<div id="<%= dom_id area %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= area.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= area.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= area.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organization plant:</strong>
    <%= area.organization_plant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= area.status %>
  </p>

</div>
