<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700
            sm:p-6 dark:bg-gray-800">
  <h3 class="mb-4 text-xl font-semibold dark:text-white">
    Contraseña
  </h3>
  <div class="field mb-2">
    <%= f.label :password, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <i class="block mb-1 text-xs font-normal text-gray-900 dark:text-white">
      (dejala en blanco si no deseas cambiarla)
    </i>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: '••••••••',
                         class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                 dark:focus:border-blue-500' %>
    <% if @minimum_password_length %>
      <em class="block mb-1 text-xs font-normal text-gray-900 dark:text-white">
        <%= @minimum_password_length %> caracteres mínimo
      </em>
    <% end %>
  </div>

  <div class="field mb-2">
    <%= f.label :password_confirmation, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '••••••••',
                         class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                 dark:focus:border-blue-500' %>
  </div>

  <div class="field mb-2">
    <%= f.label :current_password, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <i class="block mb-1 text-xs font-normal text-gray-900 dark:text-white">
      (necesitamos tu contraseña actual para confirmar los cambios)
    </i>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: '••••••••',
                         class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                 dark:focus:border-blue-500' %>
  </div>
</div>
