<div id="<%= dom_id language %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= language.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Native name:</strong>
    <%= language.native_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code iso 639 1:</strong>
    <%= language.code_iso_639_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code iso 639 2:</strong>
    <%= language.code_iso_639_2 %>
  </p>

</div>
